<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main id="mainContent">
        <h1 class="title">Welkom bij Blog app</h1>
        <section class="form-container">
            <p class="form-text">Stap 1: Bewerk je Blog</p>
            <p class="form-text">Stap 2: Vul het formulier in om je blog te maken</p>
            <p class="form-text">Stap 3: Voeg een afbeelding toe</p>
            <form id="blogForm" action="/home" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>Blog Details</legend>
                    <label for="bTitle">Blog Titel</label>
                    <input type="text" id="bTitle" name="blogTitle" placeholder="Jouw Titel Hier..." required />
                    <label for="bDes">Blog Beschrijving</label>
                    <textarea id="bDes" name="blogDes" placeholder="Jouw Blog hier..." rows="6" required></textarea>
                    <label for="bImage">Blog Afbeelding</label>
                    <input type="file" id="bImage" name="blogImage" required />
                    <button type="submit" id="submitBtn">PUBLICEREN</button>
                </fieldset>
            </form>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>