body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  main {
    padding: 2em;
  }
  
  .site-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .site-header .site-identity h1 a {
    color: #fff;
    text-decoration: none;
  }
  
  .site-navigation .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .site-navigation .nav li {
    margin: 0 15px;
  }
  
  .site-navigation .nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  .site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input[type="text"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #555;
  }
  
  .blog-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  .blog-card h4 {
    margin-top: 0;
  }
  
  .blog-card .btn-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .blog-card .delete-btn,
  .blog-card .edit-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .blog-card .delete-btn:hover,
  .blog-card .edit-btn:hover {
    background-color: #555;
  }

  .pinned-blog {
    border: 2px solid gold; /* Highlight pinned blogs with a gold border */
    background-color: #f8f8f8; /* Lighter background for pinned blogs */
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
